
/*!
app.scss
*/
//test
@import "./wxss/a.wxss"; // keep as wxss
@import "./wxss/npm.wxss"; // keep as wxss
@import "./assets/b.wxss"; // import scss
@import "./assets/a";
.t{
    background: 
        url(./assets/images/arrow-up.svg);
    width: 20rpx;
}

view{
    background: 
    url('./assets/images/test.svg');
    width: calc(99% -5rpx);
    display: flex;
}

.x{
    width: calc(99% -5rpx);
}