
/*!
app.scss
*/
//test
// @import "~weui-wxss";
@import "./assets/a";
.t{
    background: url(./assets/images/arrow-up.svg);
    width: 20rpx;
}

view{
    width: calc(99% -5rpx);
    display: flex;
}

.x{
    width: calc(99% -5rpx);
}